<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.counter"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.counter.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.counter.CounterActivity"
            android:label="@string/title_activity_count"
            android:parentActivityName="com.example.counter.CounterListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.counter.MainActivity" />
        </activity>
        <activity
            android:name="com.example.counter.CounterListActivity"
            android:label="@string/title_activity_counter_list"
            android:parentActivityName="com.example.counter.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.app.ListActivity" />
        </activity>
        <activity
            android:name="com.example.counter.RenameCounterActivity"
            android:label="@string/title_activity_rename_counter"
            android:parentActivityName="com.example.counter.CounterListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.app.ListActivity" />
        </activity>
        <activity
            android:name="com.example.counter.StatsActivity"
            android:label="@string/title_activity_stats"
            android:parentActivityName="com.example.counter.CounterListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.counter.CounterListActivity" />
        </activity>
        <activity
            android:name="com.example.counter.Blah"
            android:label="@string/title_activity_blah" >
        </activity>
    </application>

</manifest>
